doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/catalog') 主页
                hr
              li
                p  教师端
              li
                a(href='/catalog/projects') 所有项目
              li
                a(href='/catalog/project/create') 新建项目
              li
                a(href='/catalog/pchoose/create') 处理学生选题
              li
                a(href='/catalog/pchooses') 项目进度
                hr
                p 学生端
              li
                a(href='/catalog/plast/create') 选题申请
              li
                a(href='/catalog/task/student') 任务列表
                hr
                p 高清签名
              li
                a(href='/catalog/signature') 签名模块

        div(class='col-sm-10')
          block content