extends layout

block content
    h1= title

    script.
        $(function () {
            $(document).ready(function () {
                $('#btn-choose').click(addchoose);
            });
        });
        function addchoose() {
            let content = $('.btn-choose').val();
            console.log('button clicked');
            if (content) {
                $.post('/catalog/plast/create', {content: content}, function (result) {
                    alter(result);
                });
            } else {
                alert('There is no condition!');
            }
        }
    div.row
        table.table
            thead
                tr
                    th 序号
                    th 课题名
                    th 选择
            tbody
                 each project in project_list.models
                     tr
                         th(align='left') #{project.attributes.id}
                         th(align='right' )
                            a(href='/catalog/project/' + project.attributes.id) #{project.attributes.p_name}
                         th(align='right')
                             button.btn.btn-primary.btn-choose(type='button' value=project.attributes.id) 选择